
<app-loading-spinner></app-loading-spinner>
<div class="container mt-5 mb-5">
       <div class="row text-center">
              <div class="col-md-3">
                     <div class="cursor-pointer">
                            <p class="fs-3"[class.selected]='men' (click)="showMen()">Men</p>
                     </div>
              </div>
              <div class="col-md-3">
                     <div class="cursor-pointer">
                            <p class="fs-3"[class.selected]='women' (click)="showwomen()">Women</p>
                     </div>
              </div>
              <div class="col-md-3">
                     <div class="cursor-pointer">
                            <p class="fs-3" [class.selected]='elec' (click)="showElec()">Electric</p>
                     </div>
              </div>
              <div class="col-md-3">
                     <div class="cursor-pointer">
                            <p class="fs-3" [class.selected]='all' (click)="showAll()">All</p>
                     </div>
              </div>
       </div>
</div>
@if(men==true)
{
       <app-product-card [products]="menProduct"></app-product-card>

}
@if(women==true){
       <app-product-card [products]="womenProduct"></app-product-card>

}
@if(elec==true){
       <app-product-card [products]="elecProduct"></app-product-card>

}
@if(all==true){
       <app-product-card [products]="allproduct"></app-product-card>

}

<div class="container-fluid mt-2">
       <div class="row">
              <div class="col-md-12">
                     <div >
                            <img class="w-100" src="../../../assets/Eng-Web-Beauty.png">
                     </div>
              </div>
       </div>
</div>



   