<footer class="py-5 ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 p-3">
        <a class="navbar-brand logo text-white" href="#">KIOSK</a>
        <p class="mt-3 py-2">
          Our Kiosk team is always one click away. If you have any questions,
          we'd love to  hear from you
        </p>
        <hr />
        <h6>Follow us</h6>
        <div class="social-box">
          <i class="fa-brands fa-instagram ms-2"></i>
          <i class="fa-brands fa-facebook ms-2"></i>
          <i class="fa-brands fa-twitter ms-2"></i>
          <i class="fa-brands fa-linkedin ms-2"></i>
          <i class="fa-brands fa-whatsapp ms-2"></i>
        </div>
      </div>
      <div class="col-md-4 me-0">
        <div class="row">
          <div class="col-md-6">
            <h6>COMPANY INFO</h6>
            <ul class="mt-2 ps-0 cursor-pointer">
              <li>
                <a>About etmana</a>
              </li>
              <li>
                <a>Terms And Conditions</a>
              </li>
              <li>
                <a>Privacy policy</a>
              </li>
              <li>
                <a>Return Policy</a>
              </li>

              <li>
                <a>Delivery Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6>HELP & SUPPORT</h6>
             <ul class="mt-2 ps-0 cursor-pointer">
              <li>
                <a>Become a Seller</a>
              </li>
              <li>
                <a>Social Shopping Platform</a>
              </li>
              <li>
                <a>FAQs</a>
              </li>
              <li>
                <a>Contact us</a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <form>
                <label>Subscribe to our newsletter for regular updates about offers, coupons</label>
                <input class="form-control w-100" placeholder="your email address">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 ms-0">
        <div class="d-flex justify-content-center gap-2">
            <div class="cursor-pointer">
                <img width="200px" src="../../../assets/app-store (1).svg">
            </div>
            <div class="cursor-pointer">
                <img width="200px" src="../../../assets/andorid (1).svg">
            </div>
        </div>
        <h6 class="mt-5 mb-5 my-3">PAYMENT METHODS</h6>
        <div class="d-flex justify-content-around align-items-center">
            <div class="cursor-pointer"><img width="60px" src="../../../assets/mastercard.png" alt="master card"></div>
            <div class="cursor-pointer"><img width="60px" src="../../../assets/visa.png" alt="visa card"></div>
            <div class="cursor-pointer"><img width="60px" src="../../../assets/valu.png" alt=" valu app"></div>
            <div class="cursor-pointer"><img width="60px" src="../../../assets/cash-on-delivery-transparent.png" alt=" cash app"></div>
            <div class="cursor-pointer"><img width="60px" src="../../../assets/sympl.png" alt=" sympl app"></div>
            <div class="cursor-pointer"><img width="60px" src="../../../assets/forsa (1).png" alt=" forsa app"></div>
        </div>
      </div>
      
    </div>
  </div>
</footer>
