.brand
{
    color: #66666680;
    font-size: 20px;
    font-weight: 400;
}
.title
{
    color: #0e173f;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
}
.currentprice
{
    
    color: #cb0000;
    font-weight: 500;
    font-size: 20px;
}
